body
  padding-top 70px
  .container
    #wrapper
      height 300px

.bbg-container
  position relative
  .bbg-axis
    position absolute
    top 0
    left 0
    list-style none
    padding 0
    margin 0
    right 0
    bottom 0 
    li
      position absolute
      div
        position absolute
  .bbg-y-axis
    li
      border-bottom 1px solid red
      left 0
      right 0
      div
        bottom -5px
        right 100%
        padding-right 10px
        text-align right
  .bbg-x-axis
    li
      border-left 1px solid red
      bottom 0
      top 0
      div
        left -50px
        top 100%
        text-align center
        width 100px
