$header-bg  = hsl( 015, 40, 50 )
$header-bg2 = hsl( 005, 30, 30 )
$header-fg  = lighten( $header-bg, 5 )
$header-fg2 = lighten( $header-bg2, 15 )

body
  padding-top 50px
  color hsl(0, 0, 60)
  a
    color $header-fg2
  .navbar
    margin-top 0
    margin-bottom 0
    background white
    .navbar-brand
      font-size 35px
      font-weight lighter
    .navbar-nav
      li
        a
          font-weight lighter
          font-size 20px
  .header-block
    background $header-bg
    background-image linear-gradient( $header-bg2, $header-bg )
    padding 30px 0 50px
    #wrapper
      height 300px
  .featurette
    text-align center
    padding 70px 0 30px
    h2
      font-size 50px
      font-weight lighter
    .lead
      padding 40px 0 10px
    hr
      margin 40px auto 70px
      width 300px
      border-color hsl(0, 0, 80)
    .container
      margin-top 70px
      h3
        margin 20px 0
        font-weight lighter
        font-size 30px
      p
        line-height 1.5em
    a.btn
      background white
      border 1px solid $header-fg2
      color $header-fg2
      font-weight lighter
      font-size 20px
      &:hover
        background $header-fg2
        color white

.bbg-container
  position relative
  canvas
    z-index 1
    position relative
  .bbg-axis
    position absolute
    top 0
    left 0
    list-style none
    padding 0
    margin 0
    right 0
    bottom 0 
    li
      position absolute
      div
        position absolute
        color $header-fg
  .bbg-y-axis
    li
      border-bottom 1px solid $header-fg
      left 0
      right 0
      div
        bottom -5px
        right 100%
        padding-right 10px
        text-align right
        line-height 10px
  .bbg-x-axis
    li
      border-left 1px solid $header-fg
      bottom 0
      top 0
      div
        left -50px
        top 100%
        text-align center
        width 100px
        padding-top 10px
