.bbg-container {
  position: relative;
}
.bbg-container canvas {
  z-index: 1;
  position: relative;
}
.bbg-container .bbg-axis {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  right: 0;
  bottom: 0;
}
.bbg-container .bbg-axis li {
  position: absolute;
}
.bbg-container .bbg-axis li div {
  position: absolute;
  color: #000;
}
.bbg-container .bbg-y-axis li {
  border-bottom: 1px solid #000;
  left: 0;
  right: 0;
}
.bbg-container .bbg-y-axis li div {
  bottom: -5px;
  right: 100%;
  padding-right: 10px;
  text-align: right;
  line-height: 10px;
}
.bbg-container .bbg-x-axis li {
  border-left: 1px solid #000;
  bottom: 0;
  top: 0;
}
.bbg-container .bbg-x-axis li div {
  left: -50px;
  top: 100%;
  text-align: center;
  width: 100px;
  padding-top: 10px;
}
