html, body {
	padding: 20px 0;
	margin: 0 auto;
	width: 800px;
	font-family: sans-serif;
	color: gray;
}
h1, h2 {
	margin: 30px 0 0;
}
#line_graph {
	height: 300px;
	border: 1px solid #9aa;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 3px 3px 5px rgba( 0, 0, 0, 0.25 );
}
#pie {
	height: 400px;
	border: 1px solid #9aa;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 3px 3px 5px rgba( 0, 0, 0, 0.25 );
}

form {
	border: 1px solid #9aa;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 3px 3px 5px rgba( 0, 0, 0, 0.25 );
}
form .field_wrapper {
	float: left;
	width: 299px;
	padding: 10px 50px;
	overflow: hidden;
}
form .field_wrapper label {
	text-align: right;
	font-size: 11px;
	text-transform: uppercase;
}
form .field_wrapper input[type=text] {
	width: 298px;
}

code, dl#options {
	background: #cdd;
	border: 1px solid #9aa;
	display: block;
	padding: 20px;
	color: black;
	line-height: 1.5em;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 3px 3px 5px rgba( 0, 0, 0, 0.25 );
	margin: 20px 0 0;
}
code .var    { color: #c60; }
code .string { color: #09c; }
code .number { color: #c09; }
#options dt, #options dd {
	margin: 0;
	font-size: 12px;
	float: left;
}
#options dt {
	font-weight: bold;
	width: 130px;
	clear: left;
	text-indent: 5px;
}
#options dd.definition {
	clear: left;
	float: none;
	margin-bottom: 1em;
	padding: 0 0 1em 130px;
	border-bottom: 1px solid #9aa;
	color: #344;
}
#options dd.definition:last-of-type {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}
#options dd.default {
	float: left;
	font-style: italic;
	color: #677;
}
#options dd.default:before {
	content: 'Default: ';
}
#options dd.type {
	width: 100px;
	font-style: italic;
	color: #677;
}
#options dd.type:before {
	content: '(';
}
#options dd.type:after {
	content: ')';
}