.header-block
  .container
    h1 Demo
    p.lead Interactive demo to show what Bobbograph can do.
br
.container
  .row
    .col-md-9
      .well
        #wrapper(rm-graph='graphData()')
      pre.js(rm-code='codeSample()')
    .col-md-3
      form
        h2 Data
        .form-group
          input#data.form-control(type='text', ng-model='data')
        h2 Line
        .form-group
          label.control-label(for='line-color'): code color
          input#line-color.form-control(type='text', ng-model='options.line.fill')
        .form-group
          label.control-label(for='line-width'): code width
          input#line-width.form-control(type='number', ng-model='options.line.width')
        .checkbox: label.control-label
          input#line-smooth(type='checkbox', ng-model='options.line.smooth')
          strong: code smooth
        h2 Bevel
        .checkbox: label.control-label
          input#bevel-enabled(type='checkbox', ng-model='bevel')
          strong: code enabled
        .checkbox(ng-show='bevel'): label.control-label
          input#bevel-smooth(type='checkbox', ng-model='bevelOptions.smooth')
          strong: code smooth
        .form-group(ng-show='bevel')
          label.control-label(for='bevel-shine'): code shine
          input#bevel-shine.form-control(type='number', ng-model='bevelOptions.shine')
        .form-group(ng-show='bevel')
          label.control-label(for='bevel-shadow'): code shadow
          input#bevel-shadow.form-control(type='number', ng-model='bevelOptions.shadow')
