hr
.container.text-center
  iframe( src="http://ghbtns.com/github-btn.html?user=robertmesserle&repo=Bobbograph&count=true&size=large&type=watch", allowtransparency=true, frameborder=0, scrolling=0, height=30, width=170 )
  iframe( src="http://ghbtns.com/github-btn.html?user=robertmesserle&repo=Bobbograph&count=true&size=large&type=fork",  allowtransparency=true, frameborder=0, scrolling=0, height=30, width=170 )
  | <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bobbograph.com" data-via="bobbo_O" data-size="large" data-count="none">Tweet</a>
  | <a href="https://twitter.com/bobbo_O" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @bobbo_O</a>
  | <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
br
