@import '../../styl/master.styl'

$hue        = 340
$header-bg  = hsl( $hue + 10, 40, 50 )
$header-bg2 = hsl( $hue,      30, 30 )
$header-fg  = lighten( $header-bg,  5 )
$header-fg2 = lighten( $header-bg2, 15 )

body
  padding-top 50px
  color hsl(0, 0, 50)
  a
    color $header-fg
  .navbar
    margin-top 0
    margin-bottom 0
    background white
    .navbar-header
      a
        font-size 28px
        font-weight lighter
        @media (min-width: 992px)
          position relative
          top -5px
      small
        position relative
        bottom -1px
        white-space nowrap
        color hsl(0, 0, 55)
        text-transform uppercase
        font-weight lighter
        letter-spacing 1px
        @media (max-width: 991px)
          display none
    .navbar-toggle
      margin-right 0
    .navbar-nav
      li
        a
          font-weight lighter
          font-size 16px
          padding-left 25px
          padding-right 30px
  h2
    font-size 50px
    font-weight lighter
    &:before
      display block
      content ' '
      margin-top -70px
      height 70px
      visibility hidden
  .header-block
    background $header-bg
    background-image linear-gradient( $header-bg2, $header-bg )
    padding 30px 0 50px
    #wrapper
      height 300px
    h1
      font-weight lighter
      font-size 50px
      color white
    .lead
      color white
  .featurette
    text-align center
    padding 70px 0 30px
    .lead
      padding 40px 0 10px
    hr
      margin 40px auto 70px
      width 300px
      border-color hsl(0, 0, 80)
    .container
      margin-top 70px
      h3
        margin 20px 0
        font-weight lighter
        font-size 28px
      p
        line-height 1.5em
    a.btn
      background white
      border 1px solid $header-fg
      color $header-fg
      font-weight lighter
      font-size 21px
      &:hover
        background $header-fg
        color white
  .toc
    padding-top 20px
    .affix
      top 70px
      @media (max-width: 991px)
        display none
      @media (min-width: 992px)
        width 131px
      @media (min-width: 1200px)
        width 165px
    .nav
      .active
        a
          background-color $header-bg
          &:hover
            color white
      li
        a
          &:hover
            color $header-bg
  .well
    #wrapper
      margin-left 20px
      margin-bottom 20px

.bbg-container
  .bbg-axis li div
    color $header-fg
  .bbg-y-axis li
    border-bottom 1px solid $header-fg
  .bbg-x-axis li
    border-left 1px solid $header-fg
