.bbg-container {
  position: relative;
}
.bbg-container canvas {
  z-index: 1;
  position: relative;
}
.bbg-container .bbg-axis {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  right: 0;
  bottom: 0;
}
.bbg-container .bbg-axis li {
  position: absolute;
}
.bbg-container .bbg-axis li div {
  position: absolute;
  color: #000;
}
.bbg-container .bbg-y-axis li {
  border-bottom: 1px solid #000;
  left: 0;
  right: 0;
}
.bbg-container .bbg-y-axis li div {
  bottom: -5px;
  right: 100%;
  padding-right: 10px;
  text-align: right;
  line-height: 10px;
}
.bbg-container .bbg-x-axis li {
  border-left: 1px solid #000;
  bottom: 0;
  top: 0;
}
.bbg-container .bbg-x-axis li div {
  left: -50px;
  top: 100%;
  text-align: center;
  width: 100px;
  padding-top: 10px;
}
body {
  padding-top: 50px;
  color: #808080;
}
body a {
  color: #ba5e6e;
}
body .navbar {
  margin-top: 0;
  margin-bottom: 0;
  background: #fff;
}
body .navbar .navbar-header a {
  font-size: 28px;
  font-weight: lighter;
}
@media (min-width: 992px) {
  body .navbar .navbar-header a {
    position: relative;
    top: -5px;
  }
}
body .navbar .navbar-header small {
  position: relative;
  bottom: -1px;
  white-space: nowrap;
  color: #a6a6a6;
}
@media (max-width: 991px) {
  body .navbar .navbar-header small {
    display: none;
  }
}
body .navbar .navbar-toggle {
  margin-right: 0;
}
body .navbar .navbar-nav li a {
  font-weight: lighter;
  font-size: 16px;
  padding-left: 25px;
  padding-right: 30px;
}
body h2 {
  font-size: 50px;
  font-weight: lighter;
}
body h2:before {
  display: block;
  content: ' ';
  margin-top: -70px;
  height: 70px;
  visibility: hidden;
}
body .header-block {
  background: #b34d5e;
  background-image: linear-gradient(#633645, #b34d5e);
  padding: 30px 0 50px;
}
body .header-block #wrapper {
  height: 300px;
}
body .header-block h1 {
  font-weight: lighter;
  font-size: 50px;
  color: #fff;
}
body .header-block .lead {
  color: #fff;
}
body .featurette {
  text-align: center;
  padding: 70px 0 30px;
}
body .featurette .lead {
  padding: 40px 0 10px;
}
body .featurette hr {
  margin: 40px auto 70px;
  width: 300px;
  border-color: #ccc;
}
body .featurette .container {
  margin-top: 70px;
}
body .featurette .container h3 {
  margin: 20px 0;
  font-weight: lighter;
  font-size: 28px;
}
body .featurette .container p {
  line-height: 1.5em;
}
body .featurette a.btn {
  background: #fff;
  border: 1px solid #ba5e6e;
  color: #ba5e6e;
  font-weight: lighter;
  font-size: 21px;
}
body .featurette a.btn:hover {
  background: #ba5e6e;
  color: #fff;
}
body .toc {
  padding-top: 20px;
}
body .toc .affix {
  top: 70px;
}
@media (max-width: 991px) {
  body .toc .affix {
    display: none;
  }
}
@media (min-width: 992px) {
  body .toc .affix {
    width: 131px;
  }
}
@media (min-width: 1200px) {
  body .toc .affix {
    width: 165px;
  }
}
body .toc .nav .active a {
  background-color: #b34d5e;
}
body .toc .nav .active a:hover {
  color: #fff;
}
body .toc .nav li a:hover {
  color: #b34d5e;
}
.bbg-container .bbg-axis li div {
  color: #ba5e6e;
}
.bbg-container .bbg-y-axis li {
  border-bottom: 1px solid #ba5e6e;
}
.bbg-container .bbg-x-axis li {
  border-left: 1px solid #ba5e6e;
}
