body {
  padding-top: 50px;
}
body a {
  color: #955650;
}
body .navbar {
  margin-top: 0;
  margin-bottom: 0;
  background: #fff;
}
body .header-block {
  background: #b3664d;
  background-image: linear-gradient(#b3664d, #633936);
  padding: 30px 0 50px;
}
body .header-block #wrapper {
  height: 300px;
}
body .featurette {
  text-align: center;
  padding: 70px 0 30px;
}
body .featurette h2 {
  font-size: 40px;
}
body .featurette hr {
  margin: 40px auto;
  width: 100px;
}
.bbg-container {
  position: relative;
}
.bbg-container canvas {
  z-index: 1;
  position: relative;
}
.bbg-container .bbg-axis {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  right: 0;
  bottom: 0;
}
.bbg-container .bbg-axis li {
  position: absolute;
}
.bbg-container .bbg-axis li div {
  position: absolute;
  color: #ba755e;
}
.bbg-container .bbg-y-axis li {
  border-bottom: 1px solid #ba755e;
  left: 0;
  right: 0;
}
.bbg-container .bbg-y-axis li div {
  bottom: -5px;
  right: 100%;
  padding-right: 10px;
  text-align: right;
  line-height: 10px;
}
.bbg-container .bbg-x-axis li {
  border-left: 1px solid #ba755e;
  bottom: 0;
  top: 0;
}
.bbg-container .bbg-x-axis li div {
  left: -50px;
  top: 100%;
  text-align: center;
  width: 100px;
  padding-top: 10px;
}
