doctype html
html
  head
    include head.jade
  body
    - var section = 'demo'
    include navbar.jade
    .header-block
      .container
        h1 Demo
        p.lead Sample code to show the power of Bobbograph.

