doctype html
html
  head
    title Bobbograph
    link( href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css", rel="stylesheet" )
    link( href="/master.css", rel="stylesheet" )
  body
    nav.navbar.navbar-fixed-top
      div.container
        div.navbar-header
          a.navbar-brand( href="#" ) Bobbograph
          ul.nav.navbar-nav
            li.active: a( href="#" ) Home
            li: a( href="#" ) Getting Started
            li: a( href="#" ) Documentation
            li: a( href="#" ) Download
    div.header-block
      div.container
        div#wrapper
    div.featurette
      h2 What is Bobbograph?
      p.lead Bobbograph is a graphing library built around the idea of providing maximum visual customization.
      hr

    script( src="/js/bobbograph.js" )
    script.
      var data = [ 1, 2, 1, 2, 1, 5, 1, 2, 1, 2, 1 ],
          options = {
            line:  { width: 10, smooth: true, fill: 'white' },
            fill:  { gradient: [ 'rgba(255,255,255,0.25)', 'rgba(255,255,255,0)' ], vertical: true },
            xAxis: { increment: 2 },
            yAxis: { increment: 2 }
          };
      new Bobbograph( '#wrapper', data, options )
