doctype html
html
  head
    title Bobbograph
    link( href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css", rel="stylesheet" )
    link( href="/master.css", rel="stylesheet" )
  body
    nav.navbar.navbar-fixed-top.navbar-inverse
      div.container
        div.navbar-header
          a.navbar-brand( href="#" ) Bobbograph
          ul.nav.navbar-nav
            li.active: a( href="#" ) Home
            li: a( href="#" ) Getting Started
            li: a( href="#" ) Documentation
            li: a( href="#" ) Download
    div.container
      h1.heading Sample
      div.jumbotron#wrapper

    script( src="//code.jquery.com/jquery-2.1.0.js" )
    script( src="/js/bobbograph.js" )
    script.
      var data = [ 1, 5, 2, 4, 3 ],
          $elem = $('#wrapper'),
          options = {
            line: {
              width:  10,
              smooth: true,
              fill:   [ '#c3c', '#3cc' ]
            },
            bevel: {
              smooth: true
            },
            width: $elem.width()
          };
      new Bobbograph( 'wrapper', data, options )
