doctype html
html
  head
    title Bobbograph
    link( href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css", rel="stylesheet" )
    link( href="master.css", rel="stylesheet" )
  body
    h1 Bobbograph
