doctype html
html
  head
    meta( charset="utf-8" )
    meta( http-equiv="X-UA-Compatible", content="IE=edge" )
    meta( name="viewport", content="width=device-width, initial-scale=1" )
    title Bobbograph
    link( href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css", rel="stylesheet" )
    link( href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel="stylesheet" )
    link( href="/master.css", rel="stylesheet" )
    script( src="//code.jquery.com/jquery-1.11.0.min.js" )
    script( src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" )
  body
    nav.navbar.navbar-fixed-top.navbar-default
      .container
        button.navbar-toggle( type="button", data-toggle="collapse", data-target=".navbar-collapse" )
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .navbar-header: a.navbar-brand( href="/" ) Bobbograph
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.active: a
              i.fa.fa-home
              | &nbsp; Home
            li: a( href="/api.html" )
              i.fa.fa-cogs
              | &nbsp; API
    .header-block
      .container
        #wrapper
    .featurette
      h2 What is Bobbograph?
      p.lead Bobbograph is a graphing library built around the idea of providing maximum visual customization.
      a.btn.btn-lg( href="https://raw.github.com/robertmesserle/Bobbograph/v3/bobbograph.js" )
        i.fa.fa-download
        | 
        | Download Development Version
      | &nbsp; &nbsp;
      a.btn.btn-lg( href="https://raw.github.com/robertmesserle/Bobbograph/v3/bobbograph.min.js" )
        i.fa.fa-download
        | 
        | Download Production Version
      hr
      h2 Why choose Bobbograph?
      .container
        .row
          .col-sm-4
            i.fa.fa-5x.fa-gear
            h3 Customization
            p  Bobbograph gives you the ability to customize just about any aspect of your graph, giving you complete control.
          .col-sm-4
            i.fa.fa-5x.fa-html5
            h3 Compatibility
            p  Bobbograph uses best practices in Canvas to ensure that your graphs will look perfect in any browser.
          .col-sm-4
            i.fa.fa-5x.fa-thumbs-up
            h3 Ease-of-use
            p  Bobbograph is specifically built to be as intuitive as possible.
      hr
      h2 Help support Bobbograph.
      p.lead Bobbograph is hosted on <a href="//github.com">Github</a>.  Please feel free to contribute to the project, or log issues there.
      a.btn.btn-lg
        i.fa.fa-github
        | 
        | View it on Github
    include social.jade

    script( src="/js/bobbograph.js" )
    script.
      var data = [ 1, 2, 1, 2, 1, 5, 1, 2, 1, 2, 1 ],
          options = {
            line:  { width: 10, smooth: true, fill: 'white' },
            fill:  { gradient: [ 'rgba(255,255,255,0.25)', 'rgba(255,255,255,0)' ], vertical: true },
            xAxis: { increment: 2 },
            yAxis: { increment: 2 }
          };
      new Bobbograph( '#wrapper', data, options )
