hr
.container.text-center
  iframe( src="http://ghbtns.com/github-btn.html?user=robertmesserle&repo=Bobbograph&count=true&size=large&type=watch", allowtransparency=true, frameborder=0, scrolling=0, height=30, width=170 )
  iframe( src="http://ghbtns.com/github-btn.html?user=robertmesserle&repo=Bobbograph&count=true&size=large&type=fork",  allowtransparency=true, frameborder=0, scrolling=0, height=30, width=170 )
  a( href="https://twitter.com/share", class="twitter-share-button", data-url="http://www.bobbograph.com", data-size="large", data-text="Check out Bobbograph" ) Tweet
  a( href="https://twitter.com/Bobbo_O", class="twitter-follow-button", data-show-count="false", data-size="large" ) Follow @Bobbo_O
  script. !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
br
