.bbg-container
  position relative
  canvas
    z-index 1
    position relative
  .bbg-axis
    position absolute
    top 0
    left 0
    list-style none
    padding 0
    margin 0
    right 0
    bottom 0 
    li
      position absolute
      div
        position absolute
        color black
  .bbg-y-axis
    li
      border-bottom 1px solid black
      left 0
      right 0
      div
        bottom -5px
        right 100%
        padding-right 10px
        text-align right
        line-height 10px
  .bbg-x-axis
    li
      border-left 1px solid black
      bottom 0
      top 0
      div
        left -50px
        top 100%
        text-align center
        width 100px
        padding-top 10px
